.container{
  display: flex;
  
  
  background-color: gray;
  height: 600px;
  color: white;
}

.r1 {
  background-color: red;
}

.r2 {
  /*deixa o elemento sem alterar tamanho*/
  /*flex-shrink: 0;*/
  
  /* Fixa o tamanho dos elementos, ou os multiplica */
  flex-grow: 2;
  background-color: blue;
}

.r3 {
  background-color: green;

}

.rect {
  width: 200px;
  height: 150px;
}